<%- include partials/head.partial.ejs %>
<body>
    <%- include partials/header.partial.ejs %>
    <main>
        <h1 class="display-1 text-center mt-5">Plant A Tree</h1>
    </main>
    <%- include partials/footer.partial.ejs %>
</body>
<%- include partials/scripts.partial.ejs %>