<%- include partials/head.partial.ejs %>
<link rel="stylesheet" href="css/login.css">
<body class="text-center">
    <%- include partials/header.partial.ejs %>

    <main class="container">
        <div class ="row">
            <div class="col-md-4">
                <form class="form-signin" id="login_form" method="POST" action="/login">
                <h1 class="h3 mb-3 font-weight-normal">Sign in!</h1>
    
                <label for="emailInput" class="sr-only">Email</label>
                <input id="emailInput" type="text" name="loginEmail" class="form-control" placeholder="Email" required autofocus>
    
                <label for="passwordInput" class="sr-only">Password</label>
                <input id="passwordInput" type="password" name="loginPass" class="form-control mt-1" placeholder="Password">
    
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </div> 
    </main>

    <%- include partials/footer.partial.ejs %>
</body>
<%- include partials/scripts.partial.ejs %>
