<%- include partials/head.partial.ejs %>
<!-- <link rel="stylesheet" href="/css/login.css"> -->
<body class="h-100">
    <%- include partials/header.partial.ejs %>
    
    <main class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form method="POST" action="/auth/login" class="col-4">
                <h1>Log In</h1>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </main>

    <%- include partials/footer.partial.ejs %>
</body>
<%- include partials/scripts.partial.ejs %>
