<%- include partials/head.partial.ejs %>
<body class="text-center">
    <%- include partials/header.partial.ejs %>
    
    <%- include partials/footer.partial.ejs %>
</body>
<%- include partials/scripts.partial.ejs %>
