<%- include partials/head.partial.ejs %>
<body>
    <%- include partials/header.partial.ejs %>
    <main class="mt-5">
        <div class="container">
            <h2>Trees:</h2>
            <br>
            <!--Trees as a grid-->
            <div class="row">
                <!--3 columns per row. Infinite rows-->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!--Tree image-->
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/00_29_0496_Waipoua_Forest_NZ_-_Kauri_Baum_Tane_Mahuta.jpg" class="card-img-top" alt="empty-default">
                        <div class="card-body">
                            <!--Tree name and data-->
                            <h5 class="card-title">Kauri</h5>
                            <small class="text-muted">Agathis australis</small>
                            <p class="card-text">
                                Some data/info about the Tree
                                <div class="text-success">
                                    Price: $18.447Q
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">Tree height: ∞</li>
                                    <li class="list-group-item">Tree age: ∞</li>
                                    <li class="list-group-item">Tree type: Some sort of tree</li>
                                </ul>
                            </p>
                            <!--Add to cart form-->
                            <form>
                                <button type="submit" class="btn btn-primary" id="cartItemInput">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!--Tree image-->
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/00_29_0496_Waipoua_Forest_NZ_-_Kauri_Baum_Tane_Mahuta.jpg" class="card-img-top" alt="empty-default">
                        <div class="card-body">
                            <!--Tree name and data-->
                            <h5 class="card-title">Kauri</h5>
                            <small class="text-muted">Agathis australis</small>
                            <p class="card-text">
                                Some data/info about the Tree
                                <div class="text-success">
                                    Price: $18.447Q
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">Tree height: ∞</li>
                                    <li class="list-group-item">Tree age: ∞</li>
                                    <li class="list-group-item">Tree type: Some sort of tree</li>
                                </ul>
                            </p>
                            <!--Add to cart form-->
                            <form>
                                <button type="submit" class="btn btn-primary" id="cartItemInput">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <!--Tree image-->
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/00_29_0496_Waipoua_Forest_NZ_-_Kauri_Baum_Tane_Mahuta.jpg" class="card-img-top" alt="empty-default">
                        <div class="card-body">
                            <!--Tree name and data-->
                            <h5 class="card-title">Kauri</h5>
                            <small class="text-muted">Agathis australis</small>
                            <p class="card-text">
                                Some data/info about the Tree
                                <div class="text-success">
                                    Price: $18.447Q
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">Tree height: ∞</li>
                                    <li class="list-group-item">Tree age: ∞</li>
                                    <li class="list-group-item">Tree type: Some sort of tree</li>
                                </ul>
                            </p>
                            <!--Add to cart form-->
                            <form>
                                <button type="submit" class="btn btn-primary" id="cartItemInput">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </main>
    <%- include partials/footer.partial.ejs %>
</body>
<%- include partials/scripts.partial.ejs %>